* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
    text-align: center;
}

h1 {
    padding: 30px 0px 30px;
    text-align: center;
    color: black;
}


div {
    display: inline-block;
    justify-content: center;
    background-color: rgb(159, 207, 83);
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 30px;
    border-radius: 0.75rem;
}

table {

    border-radius: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
}

#submit {
    width: 50px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.75rem;
    background-color: #FF6666;
}

#activity {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0.75rem;
    background: transparent;
    background-color: #E0E0E0;
    font-size: large;
}

th {
    color: #FFFFFF;
    font-size: 25px;
    padding-right: 10px;


}